@model Models.Project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Project Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Project Name
        </dt>

        <dd>
            @Model.Name
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Model.Description
        </dd>

        <dt>
            Manager
        </dt>
        @{
            BusinessLogic.UserBL userBL = new BusinessLogic.UserBL();
            string userDetailsUrl = "/Account/Details/" + Model.ManagerID.Trim();
        }
        <dd>
            <a href=@userDetailsUrl>@userBL.GetUserByID(Model.ManagerID).UserName</a>
        </dd>

        <dt>
            Init Time
        </dt>

        <dd>
            @Model.InitTime
        </dd>

    </dl>
</div>

